body{
    background-image: url(Wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    color: aliceblue;
}

#new-form{
    background: cornsilk;
    font-size: 14px;
    width: 30%;
    height: auto;
    align-items: center;
    border-radius: 5%;
    text-align: center;
    border: darkblue dotted;
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 8px;
    border: black dotted 3px;
}

.navbar{
    text-align: end;
    text-shadow: 0  0 4px black;;
}

table{
    background-color: cornsilk;
    width: 300px;
    height: 400px;
    margin-left: 550px;
    margin-top: 50px;
    border-style: groove;
    border-radius: 9px;
    padding: 5px;
    border: 3px solid black;
    color: black;
}

img{
    border: none;
    border-radius: 5px;
}

h4{
    font-family: sans-serif;
    text-align: center;
    font-style: italic;
    color: yellow;
    text-shadow: 0 0 4px black;
}

h5{
    font: 1em sans-serif;
    color: darkblue;
    box-shadow: darkred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    text-align: center;
}

a{
    color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 4px black;
}

a:active{
    color: white;
}

:hover{
    color: springgreen;
}

header{
    margin-left: 400px;
    margin-bottom: 5px;
}

footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: chocolate;
    text-align: center;
    color: #000;
}

#bells{
    position: relative;
    left: -5px;
}

#raptor{
    position: relative;
    left: 240px;
    top: -340px;
}

#dev{
    position: relative;
    left: 495px;
    top: -700px;
}

#haw{
    position: relative;
    left: 735px;
    top: -1042;
}

#nic{
    position: relative;
    left: 970;
    top: -1382;
}

#leela{
    position: relative;
    left: 1250;
    top: -1720;
}

#voss{
    position: relative;
    left: 630;
    top: -1550;
}

#main{
    height: 800px;
    width: 300;
    text-align: center;
}